.light_container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    padding: 8px 15px;
    cursor: pointer;
    font-weight: 600;
}

.start {
    margin-right: 10px;
}

.light_content {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.light {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid black 1px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

