.balance-card {
    position: absolute;
    padding: 25px;
    width: 335px;
    height: 150px;
    left: 18px;
    top: 47px;
    background: #2F7E79;
    border-radius: 20px;
    box-shadow: 0px 10px 50px #629c98;
    color: white;
}

.total-balance h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
}

.total-balance h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.05em;
    margin-top: 10px;
}