.card_container {
    display: flex;
    align-items: center;
    padding: 15px;
    color: white;
    cursor: pointer;
}

.card_container:hover {
    background-color: rgba(133, 126, 143, 0.2);
}

.card_container:hover .card_img img {
    filter: contrast(.8) opacity(.9) grayscale(0.5);
    scale: 1.1;
}

.card_id {
    margin-right: 15px;
    font-weight: 600;
    color: #e7e6ea;
}

.card_img {
    position: relative;
}

.card_img img {
    width: 105px;
    height: 105px;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

.card_img .play {
    color: white;
    position: absolute;
    left: 40%;
    top: 40%;
    font-size: 28px;
}

.card_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    margin-left: 15px;
    width: 100%;
    min-height: 110px;
}

.card_info span {
    color: #a3a1a8;
}

.card_title {
    display: inline-block;
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    color: #e7e6ea;
    max-width: fit-content;
}

.card_title:hover {
    color: #c273ed;
    opacity: .9;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
}

.icons a{ 
    font-size: 20px;
    align-items: center;
    color: #FFF;
}

.icon_round {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon_round:last-child {
    margin: 0 10px 0 15px;
}

.icon_round:hover {
    border-radius: 50%;
    background-color: rgba(133, 126, 143, 0.9);
}

.icon1, .icon2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10.25px;
}

.hidden {
    visibility: hidden;
}