.top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 12px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.top-btn--icon {
    font-size: 30px;
}

.top-btn:hover {
    background-color: var(--primary-color);
}

.top-btn:hover .top-btn--icon {
    color: white;
}

button:focus {
    outline: none;
}