.login-form {
    padding: 20px;
    width: 480px;
    margin: 200px auto;
    border: 2px solid rgb(13, 110, 253, 0.5);
    border-radius: 10px;
}

.btn-login {
    margin: 0 36%;
    min-width: 120px;
}

.greeting {
    font-weight: 600;
    font-size: 50px;
    margin: 300px auto;
}